html, body {
    margin: 0;
    height: 100%;
}

button {
    padding: 5px;
    border: grey solid 2px;
    color: rgb(68, 68, 68);
    font-family: monospace;
    margin: 10px 0px 10px 0px;
    border-radius: 6px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.877);
    color: rgba(68, 68, 68, 0.836);
    cursor: pointer;
}

.outer-container {
    margin: 0 auto;
    max-width: 100vh;

}

.inner-container {
    display: flex;
    flex-direction: column;
    height: 93vh;
    max-width: 100vh;
    border: grey solid 2px;
}

.row {
    flex: 1;
    display: flex;
}

.column {
    flex: 1;
    border: grey solid 2px;
}

.pink {
    background-color: pink;
}