html, body {
    margin: 0;
    height: 100%;
}

.container {
    color: blue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    max-width: 100vh;
}

.row {
    flex: 1;
    display: flex;
}

.column {
    flex: 1;
}